<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="be2TestingSuite">
    <parameter name="login"	value="https://www.be2.com.au" />
	<parameter name="home" value="https://app2.be2.com/index.html#/home" />
	<parameter name="email"	value="vadym.butlerovskyi@gmail.com" />
	<parameter name="password" value="Qwerty123" />
	<parameter name="msgWelcome" value="Dear new be2 Member We are very happy to welcome you." />
	<parameter name="age" value="26" />
	<parameter name="education" value="Masters" />
	<test thread-count="3" name="LoginTests">
		<classes>
			<class name="tests.LoginTests">	    
				<methods>
					<include name="logIn" />
				</methods>
			</class>	
		</classes>
	</test> <!-- LoginTests -->
	<test thread-count="3" name="MailboxTests">
		<classes>
			<class name="tests.MailboxTests">	    
				<methods>
					<include name="checkWelcomeMsg" />
				</methods>
			</class>
		</classes>
	</test> <!-- MailboxTest -->	
	<test thread-count="3" name="MyProfileTests">
		<classes>
			<class name="tests.MyProfileTests">	    
				<methods>
					<include name="validateAge" />
					<include name="validateEducation" />
				</methods>
			</class>
		</classes>
	</test> <!-- MyProfileTests -->
	<test thread-count="3" name="PaymentTests">
		<classes>
			<class name="tests.PaymentTests">	    
				<methods>
					<include name="verifyPayPalAvailability" />
				</methods>
			</class>
		</classes>
	</test> <!-- PaymentTests -->
</suite> <!-- be2TestingSuite -->
